<div class="margin-bottom-15 basic-flex-container basic-flex-jcsb flex-centralize-v basic-flex-acsb" style="align-items: stretch">

  <!-- left side -->
  <div class="basic-flex-container">
    <div class="theme-background">
      <button
        mat-raised-button
        (click)="resetDateToday()">
        <i class="material-icons margin-right-10">history</i>
        {{ today | date: 'dd. MMM. YYYY' }}
      </button>
    </div>
    <div class="padding-large-left basic-flex-container">
      <div class="flex-centralize-v flex-centralize-h theme-background material-box-shadow-lowkey border-radius-medium padding-medium-left padding-medium-right">
        {{ now | date: 'hh:mm:ss' }}
      </div>
    </div>
  </div>

  <!-- right side -->
  <div class="basic-flex-container">
    <div class="padding-large-left">
      <section>
        <mat-button-toggle-group
          class="border-radius-medium toggle-background-color toggle-font-color"
          [hideSingleSelectionIndicator]="true"
          appearance="legacy">
          <mat-button-toggle
            class="toggle-font-color"
            [checked]="!darkMode"
            (click)="switchDisplayMode(false)">
            <mat-icon
            >brightness_5</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            class="toggle-font-color"
            [checked]="darkMode"
            (click)="switchDisplayMode(true)">
            <mat-icon
            >brightness_2</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </section>
    </div>
  </div>

</div>
