<div class="margin-large-bottom display-flex basic-flex-jcsb flex-centralize-v basic-flex-acsb" style="align-items: stretch">

  <!-- left side -->
  <div class="display-flex">
    <div>
      <button
        mat-raised-button
        (click)="resetDateToday()">
        <i class="material-icons margin-medium-right">history</i>
        {{ today | date: 'dd. MMM. YYYY' }}
      </button>
    </div>
  </div>

  <!-- right side -->
  <div class="display-flex">
    <div class="padding-large-left">
      <section>
        <mat-button-toggle-group
          class="border-radius-medium theme-background-nuance-1 toggle-font-color"
          [hideSingleSelectionIndicator]="true"
          appearance="legacy">
          <mat-button-toggle
            class="toggle-font-color"
            [checked]="!darkMode"
            (click)="switchDisplayMode(false)">
            <mat-icon
            >brightness_5</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            class="toggle-font-color"
            [checked]="darkMode"
            (click)="switchDisplayMode(true)">
            <mat-icon
            >brightness_2</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </section>
    </div>
  </div>

</div>
