<div (click)="goToViewing()" class="property-preview-class font-size-medium calendar-border height-100-percent padding-large">
  <div class="font-size-medium basic-font-weight-500 margin-bottom-10">
    <div *ngIf="noFutureViewings; else elseBlock">LAST VIEWING</div>
    <ng-template #elseBlock>NEXT VIEWING</ng-template>
  </div>

  <div class="margin-bottom-10">
    <img style="height: 75px; border-radius: 5px" src="assets/house.PNG">
  </div>
  <div class="basic-font-weight-500">
    {{ data.property.name }}
  </div>
  <div class="font-color-fish-skin margin-bottom-10">
    {{ functionsService.generateAddress(data.property.address) }}
  </div>

  <div class="flex-centralize-v">
    <div class="flex-centralize-v margin-right-10">
      <i class="font-size-medium material-icons font-color-fish-skin margin-right-10">calendar_month</i>
      <div>
        {{ data.date | date:'d MMMM y' }}
      </div>
    </div>
    <div class="flex-centralize-v">
      <i class="font-size-medium material-icons font-color-fish-skin margin-right-10">access_time</i>
      <div>
        {{ data.date | date:'hh:mm' }}
      </div>
    </div>
  </div>

</div>
