<div
  [@moveSideSheet]="isLoaded ? 'in' : 'out'"
  class="side-sheet display-flex flex-direction-col theme-background material-box-shadow basic-font-color">
  <div class="display-flex flex-direction-col flex-space-between-v simple-border-bottom padding-medium padding-xlarge-left padding-xlarge-right">
    <app-appointments-header
      [isRenewed]="isRenewed"
      [isReloading]="isRenewed"
      [today]="today"
      [focussedDay]="focussedDay"
      (emitNavigateToDate)="navigateToDate()"
      (emitTriggerIsRenewed)="triggerIsRenewed()"
      (emitSetToToday)="setToToday()"
      (emitClose)="close()"
    ></app-appointments-header>
  </div>

  <div class="height-100-percent scroll-container-y-scroll scroll-bar-design simple-border-bottom">
    @for (event of events | async; track event; let i = $index) {
      <div class="margin-xlarge">
        <app-appointments-event [focussedDay]="focussedDay" [event]="event"></app-appointments-event>
      </div>
    }
  </div>

  <div class="display-flex flex-direction-col margin-xlarge-left margin-xlarge-right margin-xlarge-top margin-medium-bottom">
    @if (isCreating) {
      <app-appointments-create [focussedDay]="focussedDay" (emitToggleCreating)="toggleCreating()"></app-appointments-create>
    } @else {
      <button
        mat-raised-button
        class="border-radius-none"
        (click)="toggleCreating()">
        <i  class="material-icons margin-medium-right">add</i>
      </button>
    }
  </div>
</div>
