<div class="theme-background basic-flex-container padding-medium">
  <div class="basic-flex-container calender-column-width flex-direction-col">
    <div class="basic-flex-1 margin-top-10">
      <app-calendar-month></app-calendar-month>
    </div>
    <div class="basic-flex-container
                basic-h-centralize-container
                basic-v-centralize-container
                flex-direction-col
                padding-medium
                theme-background">
      <div>
        <button
          mat-raised-button
          (click)="saveData()">
          save
        </button>
        <button
          mat-raised-button
          (click)="loadData()">
          load
        </button>
      </div>
    </div>
  </div>
  <div class="theme-background-nuance padding-medium border-radius-medium">
    <app-calendar-week></app-calendar-week>
  </div>
</div>
