<div class="display-flex basic-flex-jcsb">
  <div class="flex-centralize-v">
    <i class="material-icons font-color-immomio-blue margin-medium-right">calendar_month</i>
    <div>
      {{ date | date:'d MMMM y' }}
    </div>
  </div>
  <div class="flex-centralize-v">
    <i class="material-icons font-color-immomio-blue margin-medium-right">access_time</i>
    <div>
      {{ date | date:'hh:mm' }}
    </div>
  </div>
  <div class="flex-centralize-v">
    <i class="material-icons font-color-immomio-blue margin-medium-right">person</i>
    <div>
      {{ attendee }} | {{ maxInvitee }}
    </div>
  </div>
  <div class="width-5-percent">
    <button class="more-vert-class">
      <div class="flex-centralize-v flex-centralize-h">
        <i class="material-icons font-color-fish-skin more-vert-class" (click)="functionsService.demandEternalJustice()">more_vert</i>
      </div>
    </button>
  </div>
</div>
