<div class="fade-in-transition display-flex flex-direction-col event-background material-box-shadow-lowkey border-radius-small width-100-percent">

  <div class="padding-medium display-flex basic-flex-jcsb">

    <div class="display-flex flex-centralize-v flex-centralize-h basic-font-weight-600">
      <div class="width-100-percent font-size-large basic-font-weight-500">

        {{ event.title }}

      </div>
    </div>

    <div>
      <div class="display-flex">
        <i class="material-icons" (click)="deleteAppointment()" style="scale: 0.8; cursor: pointer">delete</i>
      </div>
    </div>

  </div>

  <div>
    <div class="padding-medium-right padding-xlarge-left">
      <div class="display-flex flex-direction-row padding-medium-bottom">

        <div class="font-size-xlarge">
          {{ event.startTime.hour | time: 'h' }}:{{ event.startTime.minute | time }}
        </div>

        <div>
          <i  class="display-flex material-icons">arrow_right_alt</i>
        </div>

        <div>
          {{ event.endTime.hour | time: 'h' }}:{{ event.endTime.minute | time }}
        </div>

      </div>
      <div *ngIf="event.details" class="simple-border-top display-flex flex-direction-row padding-medium-top padding-medium-bottom">
        <div class="width-100-percent details-area-height scroll-container-y">

          {{ event.details }}

        </div>
      </div>
    </div>
  </div>

</div>
