<div class="test-class theme-background material-box-shadow basic-font-color"
     [ngClass]="{'move-in-transition': isLoaded, 'move-out-transition': !isLoaded}"
>
  <div class="display-flex flex-direction-col basic-flex-jcsb border-bottom padding-medium padding-xlarge-left padding-xlarge-right">
    <div class="display-flex basic-flex-jcsb">

      <div class="display-flex basic-flex-jcsb">
        <div>
          <button
            mat-raised-button
            (click)="navigateToDate(); triggerIsRenewed(); setToToday()">
            <i class="material-icons margin-medium-right">history</i>
            {{ today | date: 'dd.M.' }}
          </button>
        </div>

        <div class="padding-large-left display-flex">
          <div class="flex-centralize-v flex-centralize-h theme-background-nuance-1 border-radius-medium padding-medium-left padding-medium-right">
            {{ now | date: 'HH:mm:ss' }}
          </div>
        </div>
      </div>

      <button
        mat-raised-button
        (click)="close()">
        <i class="material-icons">close</i>
      </button>
    </div>
    <div class="display-flex basic-flex-jcsb padding-large-top">
      <div>
        <
      </div>
      <div class="display-flex flex-centralize-h flex-centralize-v font-size-xxlarge"
           [ngClass]="{'test-transition': isRenewed}">
        <i class="material-icons padding-medium-right">calendar_month</i>
        {{ basicDate.day }}.{{ basicDate.month }}.{{ basicDate.year }}
      </div>
      <div>
        >
      </div>
    </div>
  </div>

  <div class="height-100-percent display-flex flex-direction-col padding-medium padding-xlarge-left padding-xlarge-right">
    <app-appointments-create [focussedDay]="basicDate"></app-appointments-create>
  </div>
</div>
