<form [formGroup]="appointmentsForm">
  <div class="basic-font-color event-background padding-large material-box-shadow-lowkey margin-small-bottom">
    <div class="display-flex flex-centralize-v font-size-large">
      <i class="material-icons padding-medium-right">add</i>
      <div class="width-100-percent">
        <div class="display-flex flex-direction-col">
          <input
            formControlName="title"
            type="text"
            class="width-100-percent basic-font-color border-radius-medium theme-background padding-medium border-0"
            [placeholder]="'New appointment on the ' + focussedDay.day + '.' + focussedDay.month + '.'">
        </div>
        <div style="height: 20px" class="display-flex basic-flex-jcfe">
          <div *ngIf="appointmentsForm.get('title')?.hasError('required') && !this.appointmentsForm.untouched">
            required
          </div>
        </div>
      </div>
    </div>

    <div class="display-flex basic-flex-jcsb">
      <div class="basic-flex-1">
        <ngb-timepicker
          formControlName="startTime"
          [minuteStep]="5"
          [seconds]="false"/>
      </div>
      <div class="display-flex flex-centralize-v">
        <i  class="material-icons">arrow_right_alt</i>
      </div>
      <div class="basic-flex-1 display-flex basic-flex-jcfe">
        <ngb-timepicker
          formControlName="endTime"
          [minuteStep]="5"
          [seconds]="false"/>
      </div>
    </div>

    <div class="display-flex">
      <textarea formControlName="details"
                class="text-area width-100-percent padding-small border-radius-medium"
                placeholder="Appointment's details"
      ></textarea>
    </div>

  </div>
  <div>
    <div class="display-flex">
      <div class="basic-flex-1 material-box-shadow margin-small-right">
        <button
          mat-raised-button
          class="border-radius-none width-100-percent"
          (click)="toggleCreating()">
          <i class="material-icons">delete</i>
        </button>
      </div>
      <div class="basic-flex-1 material-box-shadow">

        <button
          type="submit"
          class="border-radius-none width-100-percent"
          mat-raised-button
          (click)="submit($event)">
          <i class="material-icons">check</i>
        </button>
      </div>
    </div>
  </div>
</form>
