<div class="basic-font-color theme-background-nuance-2 padding-large material-box-shadow-lowkey">
  <div class="display-flex flex-centralize-v font-size-large">
    <i class="material-icons padding-medium-right">add</i>
    <input
      [(ngModel)]="title"
      class="width-100-percent basic-font-color border-radius-medium theme-background padding-medium"
      style="border: 0 solid transparent;"
      placeholder="New appointment">
  </div>
<!--  <div class="display-flex">-->
<!--    <div class="margin-large-right" style="flex: 1">from</div>-->
<!--    <div style="flex: 1">to</div>-->
<!--  </div>-->

  <div class="display-flex basic-flex-jcsb">
    <div class="basic-flex-1 theme-background-nuance-2">
      <ngb-timepicker [(ngModel)]="startTime" [minuteStep]="5" [seconds]="false"/>
    </div>
    <div class="display-flex flex-centralize-v">
      <i  class="material-icons">arrow_right_alt</i>
    </div>
    <div class="basic-flex-1 theme-background-nuance-2 display-flex basic-flex-jcfe">
      <ngb-timepicker [(ngModel)]="endTime" [minuteStep]="5" [seconds]="false"/>
    </div>
  </div>

  <div class="display-flex">
    <textarea [(ngModel)]="details" class="text-area width-100-percent padding-small border-radius-medium" placeholder="Appointment's details"></textarea>
  </div>

</div>
<div>
  <div class="display-flex">
    <div class="basic-flex-1">
      <button
        mat-raised-button
        class="border-radius-none width-100-percent"
        (click)="toggleCreating()">
        <i class="material-icons">delete</i>
      </button>
    </div>
    <div class="basic-flex-1">
      <button
        class="border-radius-none width-100-percent"
        mat-raised-button
        [disabled]="title===''"
        (click)="save()">
        <i class="material-icons">check</i>
      </button>
    </div>
  </div>
</div>
