<div class="basic-font-color theme-background-nuance-2 border-radius-medium padding-large material-box-shadow">
  <div class="display-flex flex-centralize-v font-size-large margin-medium-bottom">
    <i class="material-icons padding-medium-right">add</i>
    <input
      [(ngModel)]="title"
      class="basic-font-color border-radius-medium theme-background padding-medium"
      style="border: 0 solid transparent;"
      placeholder="New appointment">
  </div>
  <div class="display-flex">
    <div class="margin-large-right" style="flex: 1">from</div>
    <div style="flex: 1">to</div>
  </div>

  <div class="display-flex basic-flex-jcsb">
    <div class="basic-flex-1 theme-background-nuance-2">
      <ngb-timepicker [minuteStep]="5" [(ngModel)]="start"/>
    </div>
    <div class="basic-flex-1 theme-background-nuance-2 display-flex basic-flex-jcfe">
      <ngb-timepicker [minuteStep]="5" [(ngModel)]="end"/>
    </div>
  </div>

  <div class="display-flex padding-medium-top">
    <textarea [(ngModel)]="details" class="text-area width-100-percent padding-small border-radius-medium" placeholder="Appointment's details"></textarea>
  </div>

  <div class="padding-medium-top display-flex basic-flex-jcsb">
    <button
      mat-raised-button
      class="theme-background"
      (click)="reload()">
      <i class="material-icons">restart_alt</i>
    </button>
    <button
      mat-raised-button
      (click)="dismiss()">
      <i class="material-icons">delete</i>
    </button>
    <button
      mat-raised-button
      [disabled]="title===''"
      (click)="save()">
      <i class="material-icons">check</i>
    </button>
  </div>

</div>
