<div class="display-flex flex-space-between-v">

  <div class="display-flex flex-space-between-v">
    <div>
      <button
        mat-raised-button
        (click)="navigateToDate(); triggerIsRenewed(); setToToday()">
        <i class="material-icons margin-medium-right">history</i>
        {{ today | date: 'dd.M.' }}
      </button>
    </div>

    <div class="padding-large-left display-flex">
      <div class="flex-centralize-v flex-centralize-h theme-background material-box-shadow-lowkey border-radius-medium padding-medium-left padding-medium-right">
        {{ currentTime | date: 'HH:mm:ss' }}
      </div>
    </div>
  </div>

  <button
    mat-raised-button
    (click)="close()">
    <i class="material-icons">close</i>
  </button>
</div>
<div class="display-flex flex-space-between-v padding-large-top">
  <div>
<!--    <-->
  </div>
  <div class="display-flex flex-centralize-h flex-centralize-v font-size-xlarge"
       [ngClass]="{'scroll-down-transition': isRenewed}">
    <i class="material-icons padding-medium-right">calendar_month</i>
    {{ focussedDay.day }}.{{ focussedDay.month }}.{{ focussedDay.year }}
  </div>
  <div>
<!--    >-->
  </div>
</div>
