.event-background:hover {
  scale: none !important;
}

::ng-deep .border-error .form-control {
  border: 1px solid var(--color-error) !important;
}

:host ::ng-deep .form-control {
  background-color: var(--bg-color);
  color: var(--font-color-basic);
  border: 0;
}

:host ::ng-deep .chevron {
  color: var(--bg-color-event-1);
}

.text-area {
  background-color: var(--bg-color);
  color: var(--font-color-basic);
  resize: none;
  border: 0;
}
