<div
  [ngClass]="{'small-event': event.totalMinutes <= 60, 'large-event': event.totalMinutes >= 180}"
  class="medium-event appointments-event display-flex event-background material-box-shadow-lowkey border-radius-small width-100-percent">

  <div class="padding-medium simple-border-right">
    <div class="display-flex flex-direction-col flex-centralize-v flex-space-between-v height-100-percent">

      <div class="font-size-medium font-weight-thicker">
        {{ event.startTime.hour | time: 'h' }}:{{ event.startTime.minute | time }}
      </div>
      <div>
        <div class="font-size-xsmall">{{ event.totalMinutes }} min.</div>
        {{ event.endTime.hour | time: 'h' }}:{{ event.endTime.minute | time }}
      </div>

    </div>
  </div>

  <div class="padding-medium display-flex flex-direction-col width-100-percent">

    <div class="display-flex flex-direction-row flex-centralize-v flex-space-between-v">
      <div class="font-size-medium width-100-percent font-weight-thick">

        {{ event.title }}

      </div>
      <div>
        <div class="display-flex">
          <i class="material-icons delete-icon-addition" (click)="openDeleteDialog(event)">delete</i>
        </div>
      </div>
    </div>
    <div class="scroll-container-y scroll-bar-design height-100-percent margin-medium-top">
      @if (event.details) {
        <div class="display-flex flex-direction-row">
          <div class="width-100-percent details-area-height">
            {{ event.details }}
          </div>
        </div>
      }
    </div>

  </div>

</div>
