<div class="appointments-event display-flex event-background material-box-shadow-lowkey border-radius-small fade-in-transition width-100-percent">

  <div class="padding-medium simple-border-right">
    <div class="display-flex flex-direction-col flex-centralize-v flex-space-between-v height-100-percent">

      <div class="font-size-medium font-weight-thicker">
        {{ event.startTime.hour | time: 'h' }}:{{ event.startTime.minute | time }}
      </div>
      <div>
        {{ event.endTime.hour | time: 'h' }}:{{ event.endTime.minute | time }}
      </div>

    </div>
  </div>

  <div class="padding-medium display-flex flex-direction-col width-100-percent">

    <div class="display-flex flex-direction-row height-100-percent flex-centralize-v flex-space-between-v">
      <div class="font-size-medium width-100-percent font-weight-thick">

        {{ event.title }}

      </div>
      <div>
        <div class="display-flex">
          <i class="material-icons" (click)="openDeleteDialog(event)" style="scale: 0.8; cursor: pointer">delete</i>
        </div>
      </div>
    </div>
    <div>
      <div *ngIf="event.details" class="display-flex flex-direction-row padding-medium-top">
        <div class="width-100-percent details-area-height scroll-container-y">

          {{ event.details }}

        </div>
      </div>
    </div>

  </div>

</div>
