<div class="theme-background-nuance-2 week-calendar-wrapper">
  {{ isReloading }} {{ isReloading ? 'reload ' : 'done' }}
  <!--  <div [ngClass]="{'move-out-transition' : resetting, 'move-in-transition': resetting===false }">-->
  <div [@reloadContent]="isReloading ? 'reload' : 'done'">

    <!--- calender controller: --->

    <div>
      <nav>
        <button type="button" (click)="toggle()">Toggle Open/Close</button>
      </nav>
      <div [@openClose]="isOpen ? 'open' : 'closed'">
        <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
      </div>
    </div>

    <div class="display-flex flex-space-between-v">
      @if (isSet) {
        <div class="flex-centralize-v font-weight-thick margin-left-20">
          {{ startDayWeek  }}. {{ startMonth | date:'MMMM' }} {{ startYear }} — {{ endDayWeek }}. {{ endMonth | date:'MMMM' }} {{ endYear }}
        </div>
      }
      <div>
        <div class="display-flex flex-space-between-v">
          <div
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (click)="resetFocussedDay()"
            >
            <div>
              <button
                mat-icon-button
                type="button"
                class="mat-calendar-previous-button">
              </button>
            </div>
          </div>
          <div
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (click)="resetFocussedDay()"
            >
            <div>
              <button
                mat-icon-button
                type="button"
                class="mat-calendar-next-button">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--- calender: --->

    <mwl-calendar-week-view
      [weekStartsOn]="1"
      [viewDate]="viewDate"
      [events]="events"
      [hourSegments]="2"
      [locale]="'en-GB'"
      [hourSegmentHeight]="30"
      [dayStartHour]="8"
      [dayEndHour]="18"
      [headerTemplate]="headerTemplate"
      (hourSegmentClicked)="hourSegmentClicked($event)"
      (eventClicked)="eventClicked($event)"
      (beforeViewRender)="setDateInformation($event)"
      >
      <ng-template #headerTemplate>
        <div role="row"
          class="display-flex cal-day-headers">
          @for (day of days; track day.display; let i = $index) {
            <div
              [ngClass]="{'font-highlight': day.isToday}"
              [tabindex]="i"
              class="flex-centralize-h col-header-width"
              role="columnheader">
              <b>{{ day.display }}</b>
            </div>
          }
        </div>
      </ng-template>
    </mwl-calendar-week-view>

  </div>
</div>
