:host ::ng-deep .mat-mdc-icon-button .mat-mdc-button-touch-target {
  height: 40px;
  width: 40px;
}

:host ::ng-deep .cal-week-view .cal-event {
  color: #f7f7f7;
}

:host ::ng-deep .cal-week-view .cal-ends-within-day .cal-event {
  border-radius: 0;
}

:host ::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 40px;
}

:host ::ng-deep .cal-week-view .cal-hour-segment::after {
  content: none
}

:host ::ng-deep .cal-week-view {
  border-color: var(--color-border);
}

:host ::ng-deep .cal-week-view .cal-day-headers {
  border-color: var(--color-border);
}

:host ::ng-deep .cal-week-view .cal-time-events {
  border-color: var(--color-border);
}

:host ::ng-deep .cal-week-view .cal-day-column {
  border-color: var(--color-border);
}

:host ::ng-deep .cal-week-view .cal-hour .cal-hour-segment {
  border-color: var(--color-border);
}

:host ::ng-deep .cal-week-view .cal-hour:last-child .cal-hour-segment {
  border-color: var(--color-border);
}
