@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "styles/helpers.css";
@import "styles/margins.css";
@import "styles/animations.css";
@import "styles/overriders.css";

/* BASICS */

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: var(--bg-image);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.basic-font {
  font-family: "Roboto",
  "Segoe UI",
  "GeezaPro",
  "DejaVu Serif",
  "sans-serif",
  "-apple-system",
  "BlinkMacSystemFont";
}

/* THEMEING */

body {
  --bg-image: linear-gradient(355deg, #69bec2 14%, #ffffff 55%);
  --bg-image-comp: linear-gradient(90deg, #dcfbff 5%, #ffffff 60%);
  --bg-image-event: linear-gradient(-12deg, #9ad7d9 5%, #f3f3f4 40%);
  --bg-image-event-hover: linear-gradient(-12deg, #ffffff 5%, #9ad7d9 25%, #ffffff 50%);
  --font-color-basic: #474a50;
  --font-color-disabled: #93969c;

  --bg-color: white;
  --bg-color-nuance-1: #e7e7e7;
  --bg-color-table-row: white;
  --bg-color-table-row-odd: whitesmoke;
  --bg-color-event-1: #69bec2;
  --bg-color-focussed-day: #9ad7d9;

  --bg-color-disabled: #dadada;
  --bg-color-toggle: #e7e7e7;
  --bg-color-toggle-checked: #cacaca;
  --font-color-toggle: grey;
  --color-error: #d65555;
  --warn-symbol-color: #f1bf3f;

  --color-border: #cacaca;
  --shadow-black: 1px 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  --shadow-black-lowkey: 1px 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  .dark-theme {
    --bg-image: linear-gradient(355deg, #0d333b 14%, #212121 55%);
    --bg-image-comp: linear-gradient(90deg, #0d333b 5%, #282828 60%);
    --bg-image-event: linear-gradient(-12deg, #1a4f5d 5%, #2f2f2f 40%);
    --bg-image-event-hover: linear-gradient(-12deg, #1a4f5d 5%, #2f2f2f 50%);
    --font-color-basic: lightgrey;
    --font-color-disabled: #5a5a5a;

    --bg-color: #282828;
    --bg-color-nuance-1: #1a1a1a;
    --bg-color-table-row: #1a1a1a;
    --bg-color-table-row-odd: #2a2a2a;
    --bg-color-event-1: #69bec2;
    --bg-color-focussed-day: #158c8d;

    --bg-color-disabled: #282828;
    --bg-color-toggle: #3b3b3b;
    --bg-color-toggle-checked: #1a1a1a;
    --font-color-toggle: grey;
    --color-error: #d65555;
    --warn-symbol-color: goldenrod;

    --color-border: #545454;
    --shadow-black: 1px 1px 2px 0 rgba(0, 0, 0, 0.5), 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    --shadow-black-lowkey: 1px 1px 2px 0 rgba(0, 0, 0, 0.5), 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  }
}


/* COLORS & THEMES */


.body-corresponding-comp-background {
  background-image: var(--bg-image-comp)
}

.toggle-font-color {
  color: var(--font-color-toggle) !important;
}

:host ::ng-deep .mat-button-toggle-checked {
  background-color: var(--bg-color-toggle-checked);
}

.theme-background {
  background-color: var(--bg-color);
}

.theme-background-nuance-1 {
  background-color: var(--bg-color-toggle)
}

.theme-background-nuance-2 {
  background-color: var(--bg-color-nuance-1);
}

:host ::ng-deep .cal-week-view .cal-event {
  background-image: var(--bg-image-event);
  /*background-color: blue;*/
  border: 1px solid grey;
  /*border: 0;*/
  border-radius: 5px;
}

.event-background {
  background-image: var(--bg-image-event) !important;
  transition: 0.1s ease-in-out;
}

.event-background:hover {
  scale: 1.05;
  transition: 0.1s ease-in-out;
}

.border-transparent {
  border: 1px solid transparent;
}

.warn-symbol-color {
  color: var(--warn-symbol-color)
}

.font-error {
  color: var(--color-error);
}

.border-error {
  border: 1px solid var(--color-error);
}

.background-error {
  background-color: var(--color-error);
}

.more-vert-class {
  border: 0px;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.calendar-border-2 {
  box-sizing: border-box;
  border: 2px solid #e1e1e1;
}

.calendar-border-bottom {
  border-bottom: 1px solid var(--color-border);
}

.basic-font-color {
  color: var(--font-color-basic) !important;
}

.material-box-shadow {
  box-shadow: var(--shadow-black);
}

.material-box-shadow-inset {
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 1px 4px 8px 0 rgba(0, 0, 0, 0.19) inset;
}

.material-box-shadow-lowkey {
  box-shadow: var(--shadow-black-lowkey);
}

.calender-column-width {
  width: 250px;
}

.col-header-width {
  width: 70px;
}
