@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "margins.css";
@import "helpers.css";

/* BASICS */


html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: var(--bg-image);
}

.basic-font {
  font-family: "Roboto",
  "Segoe UI",
  "GeezaPro",
  "DejaVu Serif",
  "sans-serif",
  "-apple-system",
  "BlinkMacSystemFont";
}


/* THEMEING */


body {
  --bg-image: linear-gradient(355deg, #97D9E1 14%, #ffffff 55%);
  --bg-image-comp: linear-gradient(355deg, #d0f0f5 14%, #ffffff 100%);
  --font-color-basic: #2b2e33;

  --bg-color-table: white;
  --bg-color-table-nuance: #cacaca;
  --bg-color-table-row: white;
  --bg-color-table-row-odd: whitesmoke;

  --bg-color-toggle: #e7e7e7;
  --bg-color-toggle-checked: #cacaca;
  --font-color-toggle: grey;
  --bg-color-appointment:  #97D9E1;
}

@media (prefers-color-scheme: dark) {
  .dark-theme {
    --bg-image: linear-gradient(355deg, #1d3a3d 14%, #212121 55%);
    --bg-image-comp: linear-gradient(355deg, #182a2c 14%, #181818FF 100%);
    --font-color-basic: lightgrey;

    --bg-color-table: #282828;
    --bg-color-table-nuance: #1a1a1a;
    --bg-color-table-row: #1a1a1a;
    --bg-color-table-row-odd: #2a2a2a;

    --bg-color-toggle: #3b3b3b;
    --bg-color-toggle-checked: #1a1a1a;
    --font-color-toggle: grey;
    --bg-color-appointment:  #1c3438
  }
}


/* COLORS & THEMES */


.body-corresponding-comp-background {
  background-image: var(--bg-image-comp)
}

.material-box-shadow {
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.material-box-shadow-lowkey {
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.toggle-font-color {
  color: var(--font-color-toggle) !important;
}

:host ::ng-deep .mat-button-toggle-checked {
  background-color: var(--bg-color-toggle-checked);
}

.theme-background {
  background-color: var(--bg-color-table);
}

.theme-background-nuance-1 {
  background-color: var(--bg-color-toggle)
}

.theme-background-nuance-2 {
  background-color: var(--bg-color-table-nuance);
}

:host ::ng-deep .cal-week-view .cal-event {
  background-color: var(--bg-color-appointment);
  border: 1px solid var(--font-color-toggle);
}

.more-vert-class {
  border: 0px;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.basic-font-color {
  color: var(--font-color-basic) !important;
}

:host ::ng-deep .mat-mdc-raised-button {
  background-color: var(--bg-color-toggle) !important;
  color: var(--font-color-basic) !important;
}

:host ::ng-deep .mat-mdc-button {
  color: var(--font-color-basic) !important;
}

:host ::ng-deep .mat-calendar-body-cell-content {
  color: var(--font-color-basic) !important;
}

:host ::ng-deep .mat-calendar-body-label {
  color: var(--font-color-basic) !important;
}

:host ::ng-deep .mat-calendar-table-header th {
  color: var(--font-color-basic) !important;
}

:host ::ng-deep .mat-calendar-arrow {
  fill: var(--font-color-basic) !important;
}

:host ::ng-deep .cal-week-view {
  background-color: var(--bg-color-table-row);
}

:host ::ng-deep .cal-week-view .cal-hour-odd {
  background-color: var(--bg-color-table-row-odd);
}


/* OTHERS */


.property-preview-class {
  background-color: white;
}

.property-preview-class:hover {
  background-color: #e1e1e1;
}

.create-viewing-button {
  color: #f89b3c;
  background-color: white;
  border: 2px solid #e1e1e1;
}

.create-viewing-button:hover {
  background-color: #3a8aec;
  color: white;
}

.preview-image {
  height: 50px;
  width: 50px;
  border: 1px solid grey
}

.calender-column-width {
  width: 250px;
}

.width-5-percent {
  width: 5%;
}

.height-month-calendar {
  height: 315px;
}

.calendar-border-2 {
  box-sizing: border-box;
  border: 2px solid #e1e1e1;
}

.calendar-border-bottom {
  border-bottom: 1px solid #e1e1e1;
}

.col-header-width {
  width: 70px;
}

.head-height-40 {
  height: 40px;
}

.head-height-50 {
  height: 50px;
}

.height-100-percent {
  height: 100%;
}

.width-100-percent {
  width: 100%;
}

.border-radius-small {
  border-radius: 2px;
}

.border-radius-medium {
  border-radius: 5px !important;
}

/* FONTS */

.font-color-immomio-blue {
  color: #3a8aec;
}

.font-color-salt-white {
  color: white;
}

.font-color-almond-milk {
  color: #f7f7f7;
}

.font-color-fish-skin {
  color: darkgrey;
}

.font-color-fruity-orange {
  color: #f89b3c;
}

.font-size-small {
  font-size: 8px;
}

.font-size-medium {
  font-size: 12px;
}

.font-size-large {
  font-size: 16px;
}

.font-size-xlarge {
  font-size: 20px;
}

.font-size-xxlarge {
  font-size: 24px;
}

/* OLD: */

.move-out-transition {
  position: relative;
  animation: move-in-animation 0.5s;
}

.move-in-transition {
  position: relative;
  animation-direction: reverse;
  animation: move-out-animation 0.5s;
}

.test-transition {
  position: relative;
  animation: overwrite-animation 0.3s;
}

@keyframes move-in-animation {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.9;
    left: 0px;
    opacity: 1;
  }
  100% {
    scale: 0.9;
    left: -15px;
    opacity: 0;
  }
}

@keyframes move-out-animation {
  0% {
    scale: 0.9;
    left: 15px;
    opacity: 0;
  }
  50% {
    scale: 0.9;
    left: 0;
    opacity: 1;
  }
  100% {
    scale: 1;
  }
}

@keyframes overwrite-animation {
  0% {
    top:0;
    opacity: 1;
  }
  33% {
    top: 10px;
    opacity: 0;
  }
  66% {
    top: -10px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
